* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #f7efef;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

/*Container Geral*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

/*Container Name*/
.container-name h1{
  padding-top: 5%;
  font-size: 3rem;
  font-weight: 700;
  color: #232323;
}

.container-name p {
  margin-top: 1%;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 400;
  color:  #00E0FF ;
}

/*Container Sobre*/
.container-sobre h2 {
  padding-top: 5%;
  padding-bottom: 0.3%;
  font-size: 2rem;
  font-weight: 600;
  color: #232323;
  border-bottom: solid 2px #00E0FF;
}
.container-sobre p {
  margin-top: 1%;
  font-size: 1rem;
  font-weight: 400;
  color: #28231D;
}

/*Experiência*/
.container-experiencia {
  display: flex;
  flex-direction: column;
}

.container-experiencia h2 {
  border-bottom: solid 2px #00E0FF;
  color: #232323;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 0.3%;
  padding-top: 5%;
}

.container-experiencia-descrition {
  display: flex;
  justify-content: space-between;
  gap: 300px;
  padding-top: 5%;
}

.container-experiencia-descrition h3 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #232323;
}
.container-experiencia-descrition p {
  font-size: 1rem;
  font-weight: 400;
  color: #28231D;
}
.container-experiencia-descrition h3 span {
  font-size: 1.8rem;
  font-weight: 500;
  color: #00E0FF;
}

/*Educação*/
