* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #eadeea;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

a {
  text-decoration: none;
}

/*Container Geral*/
.container {
  width: 90%;
  max-width: 2024px;
  min-height: 100%;
  margin: auto;
}
.container-name {
  width: 100%;
  min-height: 120px;
  margin-top: 10%;
}
.container-name h1 {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  color:#000;
  text-transform:uppercase;
  line-height: 1;
}
.container-name h2 {
  color:#00E0FF;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform:uppercase;
  margin-top: 2%;
}
/*Sobre*/
.container-sobre {
  width: 100%;
  min-height: 120px;
  margin-top: 10%;
}
.container-sobre h2 {
  border-bottom: solid 2px #00E0FF;
  font-size: 22px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}
.container-sobre p {
  color: #161616;
  font-size: 14px;
  font-weight: 300;
  margin-top: 5%;
}
/*Experiência*/
.container-experiencia {
  display: block;
  width: 100%;
  min-height: 120px;
  margin-top: 10%;
}
.container-experiencia h2 {
  border-bottom: solid 2px #00E0FF;
  font-size: 22px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}
.container-experiencia-descrition {
  width: 100%;
  min-width: 120px;
  margin-top: 10%;
}
.container-experiencia-descrition h3 {
  color: #111111;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.container-experiencia-descrition p {
  color: #161616;
  font-size: 14px;
  font-weight: 300;
}
.p-descrition {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.container-experiencia-descrition h3 span {
  color: #00E0FF;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  display: block;
}
/*Educação*/
.container-educacao {
  width: 100%;
  min-height: 120px;
  margin-top: 10%;
}
.container-educacao h2 {
  border-bottom: solid 2px #00E0FF;
  font-size: 22px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}
.container-educacao h3 {
  color: #111111;
  font-size: 18px;
  font-weight: 500;
  margin-top: 5%;
}
.container-educacao p {
  color: #161616;
  font-size: 14px;
  font-weight: 300;
}
.container-educacao strong {
  color: #00E0FF;
}

/*Habilidades*/
.conteiner-habilidades {
  width: 100%;
  min-height: 120px;
  margin-top: 10%;
}
.conteiner-habilidades h2 {
  border-bottom: solid 2px #00E0FF;
  font-size: 22px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}
.conteiner-habilidades h3 {
  color: #111111;
  font-size: 18px;
  font-weight: 500;
  margin-top: 5%;
} 
.container-skil {
  display: block;
}
.porcebtagem-wordpress {
  border: none;
  background-color: red;
  border-radius: 10px;
  width: 100px;
  height: 10px;
}
.porcebtagem-php {
  border: none;
  background-color: red;
  border-radius: 10px;
  width: 100px;
  height: 10px;
}
.porcebtage-wordpress-2 {
  background-color: blue;
  border-radius: 10px;
  border: none;
  width: 80px;
  height: 10px;
}
.porcebtagem-php-2 {
  border: none;
  background-color: blue;
  border-radius: 10px;
  width: 70px;
  height: 10px;
}
.porcebtagem-javascript {
  border: none;
  background-color: red;
  border-radius: 10px;
  width: 100px;
  height: 10px;
}
.porcebtagem-javascript-2 {
  border: none;
  background-color: blue;
  border-radius: 10px;
  width: 80px;
  height: 10px;
}
.porcebtagem-python {
  border: none;
  background-color: red;
  border-radius: 10px;
  width: 100px;
  height: 10px;
}
.porcebtagem-python-2 {
  border: none;
  background-color: blue;
  border-radius: 10px;
  width: 40px;
  height: 10px;
}

/*Footer-contatos*/
footer {
  background-color: #111111;
  color: #fff;
  display: block;
  width: 100%;
  min-height: 120px;
  margin-top: 10%;
  padding-bottom: 5%;
  text-align: center;
}
footer h2 {
  padding-top: 5%;
  font-size: 1.2rem;
  font-weight: 400;
  color: #eadeea;
}
footer p {
  font-size: 0.8rem;
}
.footer-links a{
  color: #eadeea;
  font-size: 0.9rem;
}
